.navbar-top {
	margin-bottom: 15px;
}

/* minesweeper */
#minefield {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.minebox {
	display: inline-block;
	height: 30px;
	width: 30px;
	margin: 1px;
	background-color: #bbb;
	border: solid gray 1px;
  font-size: 20px;
  text-align: center;
}

.minebox.revealed {
  background-color: #ddd;
}

.minebox.bombed.last {
  background-color: red;
}

.minebox > .bomb {
  display: none;
}

.minebox > .flag,
.minebox.revealed > .flag,
.minebox.revealed.flagged > .flag {
  visibility: hidden;
}

.minebox.bombed > .bomb {
  display: initial;
}

.minebox.flagged > .flag {
  visibility: visible;
}

.minebox.bombed > .flag {
  display: none;
}

.setting {
  margin-top: 20px;
  margin-bottom: 10px;
}

.settings-label {
  display: inline-block;
  width: 100px;
}

.settings-box {
  display: inline-block;
  width: 50px;
}

.reset-btn {
  margin-top: 10px;
}

#js-winner {
  font-weight: bold;
  z-index: 100;
}
